*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar # thi lines ignores all the jar files
!lib/mysql-connector-java-5.1.39.jar # but we want only this jar file to be included
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
